<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
    <!-- http://www.mkyong.com/spring-security/spring-security-form-login-using-database/-->
	 <!-- PostgreSQL connector -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>org.postgresql.Driver</value>
        </property>
        <property name="url">
            <value>jdbc:postgresql://${server.database.name}/SysMedic</value>
        </property>
        <property name="username">
            <value>sysmedic</value>
        </property>
        <property name="password">
            <value>sysmedic2014</value>
        </property>
    </bean>
 
</beans>